# Environnement virtuel
.venv/
venv/
env/



# PyCharm / VSCode
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers temporaires
*.log
*.bak
*.swp
.DS_Store

# Uploads
uploads/

# Fichiers générés par Python
*.egg-info/
dist/
build/



